<!DOCTYPE html>
<html>
  <head>
    <title>TC 359 Project 2</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8"> 
  </head>
  <body>
    <h1>TC 359 Project 2</h1>
    <p>"You will never find time for anything. If you want time you must make it."</p>
    <br/>
    <strong>Clocks</strong>
    <br/>
    <p><img src="http://www.ikea.com/PIAimages/0175112_PE332983_S5.JPG" width="300" height="300" alt="image"></p>
  </body>
</html>
